<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Images</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<h2>Working with images</h2>
<h3>Image Picker</h3>
<button ion-button (click)="openGallery()">
  Image Picker
</button>
<ion-grid>
  <ion-row *ngFor="let row of grid">
    <ion-col width-50 *ngFor="let file_uri of row">
      <img src="{{file_uri}}" />
    </ion-col>
  </ion-row>
</ion-grid>
<p>try img with data64..</p>
<img src="{{dvt_img}}" alt="">
<p>image from server</p>
<p>{{urlVariable}}</p>
<img [src]="urlVariable" />
</ion-content>
